<div class="universal-layout">
  <div>
    <a class="waves-effect waves-light btn" href="/teams">View Teams</a>
    <h2><%= @team.team_name() %></h2>
    <hr>
    <% if @team.members().any?() %>
    <h3>Here are all the members in this list:</h3>
    <ul>
      <% @team.members().each() do |member| %>
      <li><%= member.member_name() %> </li>
      <% end %>
    </ul>
    <% else %>
    <p>There are no members on this team!</p>
    <% end %>
    <h4>Add a new member to <%= @team.team_name() %> </h4>
    <form action="/teams/<%= @team.id%>" method="post">
      <div class="form-group">
        <div class="input-field">
          <i class="material-icons prefix">account_circle</i>
          <input id="team_id" name="team_id" type="hidden" value="<%= @team.id() %>">
          <input name="member_name" id="icon_prefix member_name" type="text" class="validate form-control">
          <label for="icon_prefix">Member's Name</label>
          <button class="btn waves-effect waves-light" type="submit" name="action">Add Member
          <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
    <br>
  </div>
</div>